@model Category
@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @{
                if (Model.Name == "Ligler")
                {
                    foreach (League item in Model.Leagues)
                    {
                        @await Html.PartialAsync("_LeaguePartial",item)
                    }
                }
                else
                {
                    foreach (Team item in Model.Teams)
                    {
                        @await Html.PartialAsync("_TeamPartial",item)
                    }
                }
            }



        </div>
    </div>
</div>